body {
    background-color:none;
}

.image-content > img {
    max-width: 200px;
}

#header{
    width:100%;
    background-color: goldenrod;
    margin-bottom:0;
    text-align: center; 
    position:relative;
    transform: translateY(50%)
}

#nav {
   margin:0; 
    width: 100%;
    background-color: black;
    min-height: 80px;
    font-family: 'Lato' sans-serif;
    height: auto;
}

#nav > ul{
  text-align: center;
    transform: tanslateY(50%);
    padding: 0;
    margin: 0;  
}

#nav >ul >button {
   min-width: 120px;
    color: white;
    background-color: orange;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s; 
    
}
#nav >ul >button:hover {
   background-color: brown; 
    
}

.menu {
    display:flex;
    background:red;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}
#middle-wrapper-width {
 display: flex;  
  max-width: 960px;
  margin: 0 auto;
}

#middle-wrapper {
 
}


.side-by-side{
   display: flex 
    }




#main-content-wrapper .image-content{
text-align:center;
    width:50%
        margin-top:50px;
  }
.image-content >img {
        max-width: 200px;
    border-radius: 50%;
}

.image-content >h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color:orangered;
}

.image-content >h4 >a {
    color: orangered
}
.image-content >h4 >a:hover {
    color:blue
}
#main-content-wrapper article {
    width:50%;
        margin-top:100px;
  }
#main-content-wrapper article h2 {
 text-align: center
  }
#main-content-wrapper article  p{
    max-width:300px;
        margin: 0 auto;
  }
#main-content-wrapper #skills{
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}
#main-content-wrapper #skilla span{
    text-align: center;
    font-weight: 400;
}



#aside-content-wrapper {
  background-color: white;
    width:35%
        font-family:'Lato', sans-serif;    
}
#aside-right {
    margin: 0 50px 0 8px;
}
#aside-right h3 {
    margin: 0 50px 0 8px;
    text-align: center
} 
#latest-work{
    list-style-type: none;
}

#latest-work > li{
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px black solid;
}
#latest-work > li:before {
 content: '';
    border-color: transparent dodgerblue;
    border-style: solid;
    border-width:.35em 0 .35em .45em;
    display:block;
    height:0;
    width:0;
    left:-1em;
    top:.9em;
    position:relative;
}
#favorite-sites {
    background-image: url(img/bg.jpeg);
    border-top: 5px blue solid;
    border-bottom: 5px black solid;
}
#favorite-sites ul {
     list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 40px;
}

footer { 
    background-color:whites;
    text-align: center;
     font-family:'Lato', sans-serif;
    min-height: 100px;
    
    
}

footer > h1 {
    margin: 0;
    transform: translateY(50%);
    }